body {
    background-color: #F2FFFC;
    }
    h1 {
    background-color: purple;
    color: #FFF;
    font-size: 120%;
}

h1 {
    background-color: #851944;
    color: #FFF;
    text-align: center;
    }
p { text-align: justify; }
h1 {
    background-color: rgb(133, 25, 68);
    color: rgb(255, 255, 255);
    }
    /* ou... */
    h1 {
    background-color: #851944;
    color: #FFFFFF;
    }
    /* ou... */
    h1 {
    background-color: purple;
    color: #FFF;
}
h1, h2 {
    font-family: "Arial", sans-serif;
    }
    p {
    font-family: "Times New Roman", serif;
}