*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, monospace;
}
h1{
    background-color: blueviolet;
    text-align: center;
    color: #fff;
    padding: 1vh;
}
h2{
    padding: 5vh;
    padding-left: 0;
}
p{
    padding: 1vh;
}